@charset "utf-8";
/* CSS Document */
html{
	height: 100%;
	width: 100%;
}

body{  
    margin: 0;  
    padding: 100px 0 0px 0;  
}  
* html body{  
    overflow: hidden;  
}



div#headerArea {  
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 160px; 
    background-color: #fff; 
    color: #fff;
	opacity: .9;
	z-index:100;
}

.example1{
	float:left;
	width: 130px;
	height:129px;
	margin-top: 10px;
	margin-left: 20px;
}



#wrapper {
	width: 1500px;
}

#textbox{
	position: absolute;
	top: 10px;
	width: 510px;
	height: 10px;
	float: right;
	left: 785px;
	color: #333;
	
}
ul#menu{
	float: left;
	font-size: 0.8em;
	margin-top: 102px;
	margin-bottom:5px;
	margin-left: 450px;
	padding-left: 0;
	height: 40px;
	width: 742px;	
}

ul#menu li	{
	list-style-type: none;
	float: left;
	display:list-item;

}

ul#menu li a {
	display: block;
	width: 100px;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	color: #999;
	background-color: #fff;
	border-bottom:#fff;
	transition: background-color 0.4s ease-in-out,border-bottom 0.4s ease-in-out, color 0.4s ease-in-out;
}



ul#menu li a:hover{
	box-sizing:border-box;
	border-bottom: solid 1px #F00;
	color: #000;
}

.hyouji{
	display: block;
	width: 100px;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	background-color: #fff;
	border-bottom:#fff;
	box-sizing:border-box;
	border-bottom: solid 1px #F00;
	color: #000;
}



#menu{
	margin-bottom: 15px;
	overflow: hidden;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}

hr {
	margin-top: 40px;
	height: 1px;
	background-color: #ff0000;
	border: none;
	color: #ff0000;
}

.example2{
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#top-photo {
	width: 100%
}

	

* html div#contentsArea{  
    height: 100%;  
    overflow: auto;  
}

#map{
	/*margin-left: 250px;	*/
	width: 600px;
	height: 450px;
	margin: auto;
}

#container{
	width: 500px;
	height: 300px;
	margin-top: 120px;	
}

.slideshow{
	position: relative;
	width: 400px;
	height: 320px;
	float: left;
}

.slideshow img{
	position: absolute;
	left: 280px;
	top: 100;
	opacity: 0;
	transition: 1s;
	
}

.slideshow .show{
	opacity: 1;
	z-index: 1;
}

#main {
	height: 800px;
	width:1200px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/access.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.list{
	margin: 50px 50px 50px 50px;
	list-style-type: none;
	overflow: hidden;
}
.list li{
	margin: 50px 20px 50px 20px;
	float: left;
	transition: .8s;
}

.list-mv01{
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.mv01{
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

.title{
	padding-left: 15px;
	float: right;
}

.access {
	padding-top: 80px;
	margin-left: 300px;
	color: #7c6853;
	line-height: 150%;
	font-size: 14px;
}
	
	
#calender{
	width: 800px;
	height: 500px;
	margin: auto;
}

#booking{
	margin-top: 50px;
	margin-left: 205px;
	line-height: 180%;
	font-size: 13px;
	color: #7c6853;
}

#booking2{
	margin-top: 12px;
	margin-left: 205px;
	line-height: 180%;
	font-size: 13px;
	color: #7c6853;
}

#omakase{
	list-style-type: disc;
	margin-left: 220px;
	line-height: 200%;
	font-size: 13px;
	color: #c3512f;
}


.example3{
	float: left;
	width: 200px;
	margin-left: 380px;
	margin-right: 50px;
}

.example4{
	float: left;
	width: 420px;
	height: 320px;
	margin-left: 220px;
	margin-bottom: 100px;
	
	
}

.box1{
	line-height: 150%;
	width: 400px;
	margin-top: 70px;
	margin-left: 600px;
}

.box2{
	line-height: 180%;
	width:400px;
	font-size: 14px;
	margin-top: 70px;
	margin-left: 630px;
}

.red{
	color: #C00;
	font-weight: bold;
}

.red2{
	color: #c3512f;
	font-size: 14px;
}
	


	

footer{
	clear: both;
	width:100%;
	height: 50px;
	margin-top: 300px;	
	bottom: 0;
	background-color: #333;
	color: #fff;
}


	
footer > p{
	line-height: 50px;
	margin-left: 80px;
	font-size: 12px;
}

.white {
	color: white;
	font-family:"HG行書体", serif;
}

.grey {
	color:#666;
}

div#footerArea {
	clear: both;
	width:100%;
	height: 50px;
	margin-top: 3100px;	
	margin-bottom: 0px;
	background-color: #333;
	color: #fff; 	 
}  

div#footerArea > p{
	line-height: 50px;
	margin-left: 80px;
	font-size: 12px;
}


